<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<form action="{% url 'expose:archive_year' %}" method="get">
	<span>
		<h4>Get all post for a year:</h4>
		<input name="year" placeholder="yyyy"/>
		<button type="submit">Submit</button>
	</span>
</form>

<form action="{% url 'expose:archive_month' %}" method="get">
	<span>
		<h4>Get all post for a specific month:</h4>
		<input name="year" placeholder="yyyy">Year:</input>
		<input name="month" placeholder="mm">Month:</input>
		<button type="submit">Submit</button>
	</span>
</form>