<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<h2>Welcome to archive by year!</h2>
{% if articleList %}
	<ul>
	{% for article in articleList %}
		<div>
			<a href="{% url 'expose:article' article.id %}">{{ article.article_title }}</a>
			<p>{{article.article_date}}</p>
			<div>Media</div>
		</div>
	{% endfor %}
	</ul>
{% else %}
	<p>No articles are present in the archive for this year!</p>
{% endif %}